<header class="relative z-50">
  <app-toolbar></app-toolbar>
</header>

<main class="bg-gradient-to-bl from-slate-100 to-slate-300 flex flex-col items-center justify-center lg:py-4">
  <div class="flex flex-col items-center justify-center w-full
              lg:w-4/5 lg:flex-row-reverse">
    <div class="w-full sm:w-3/4 lg:w-1/2 mx-4">
      <div class="mx-4">
      <app-video></app-video>
    </div>
      <div class="flex flex-col items-center mx-4">
        <div class="flex flex-row my-8 w-full">
          <a href="https://agende.colegioconectado.com.br" target="_blank"
          class="flex items-center justify-center w-full mr-2 px-4 py-2 text-lg text-gray transition-colors duration-300 transform bg-white rounded-md hover:bg-indigo-50 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
          <svg class="h-5 mr-2 fill-conectado-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path
                d="M152 24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H64C28.7 64 0 92.7 0 128v16 48V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V192 144 128c0-35.3-28.7-64-64-64H344V24c0-13.3-10.7-24-24-24s-24 10.7-24 24V64H152V24zM48 192H400V448c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V192z" />
            </svg>

            <span class="ml-2">Agendar visita</span>
          </a>

          <a href="https://colegioconectado.com.br" target="_blank"
            class="flex items-center justify-center w-full ml-2 px-4 py-2 text-lg text-white transition-colors duration-300 transform bg-conectado-1 rounded-md hover:bg-indigo-900 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-80">
            <svg class="h-5 mr-2 fill-conectado-2" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512">
              <path
                d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
            </svg>

            <span class="ml-2">Ir para o site</span>
          </a>

        </div>
      </div>
    </div>
    <div class="m-4 sm:w-3/4 lg:w-1/2 text-justify">
      <img class="w-full mb-4 sm:w-1/2 lg:w-1/2" src="../../../assets/tituloManifesto.svg" alt="Manifesto">
      <p class="text-xl text-conectado-3 font-bold">
        Eu, você e o mundo, todos conectados.
      </p>
      <p>
        Acreditamos na importância de construir pontes entre culturas, estabelecer laços entre tarefas e promover a versatilidade como uma habilidade fundamental para a vida pessoal e profissional de cada indivíduo.
      </p>
      <p>
        Por isso estimulamos os nossos alunos a explorarem ao máximos suas habilidades socioemocionais e ao mesmo tempo, garantir que a grade curricular e o conteúdo do nosso material pedagógico seja aplicado de forma única e eficiente.
      </p>
      <p>
        O que nos motiva é olhar para cada aluno e observar que conectados com ele e sua família fizemos parte da construção de pessoas que se permitam compreender o mundo de forma ampla e construam suas histórias multiconectadas com sua melhor versão e explorando ao máximo as oportunidades da vida.
      </p>
    </div>
  </div>
</main>
<app-footer></app-footer>
