<p class="text-xl text-conectado-3 font-bold">
  Eu, você e o mundo, todos conectados.
</p>
<p>
  Acreditamos na importância de construir pontes entre culturas, estabelecer laços entre tarefas e promover a
  versatilidade como uma habilidade fundamental para a vida pessoal e profissional de cada indivíduo.
</p>
<p>
  Por isso estimulamos os nossos alunos a explorarem ao máximos suas habilidades socioemocionais e ao mesmo tempo,
  garantir que a grade curricular e o conteúdo do nosso material pedagógico seja aplicado de forma única e
  eficiente.
</p>
<p>
  O que nos motiva é olhar para cada aluno e observar que conectados com ele e sua família fizemos parte da
  construção de pessoas que se permitam compreender o mundo de forma ampla e construam suas histórias
  multiconectadas com sua melhor versão e explorando ao máximo as oportunidades da vida.
</p>
