<footer class="bg-white flex items-center justify-center w-full">
    <div class="flex flex-col text-center lg:flex-row items-center justify-between m-10 p-10 lg:w-3/4 ">
      <div class="p-2">
      <img class="max-h-7" src="../../../assets/IconConectado.svg" width="48" height="48" alt="Icone Colégio Conectado" loading="lazy">
    </div>
      <div class="p-2">
        <p>Rua Ministro Cunha Canto, 312</p>
        <p>Centro - Mogi Mirim/SP</p>
      </div>
      <div class="p-2">
        <p><a href="mailto:contato@colegioconectado.com.br">contato@colegioconectado.com.br</a></p>
      </div>
      <div class="p-2">
        <p><a href="tel:1938049530">(19) 3804-9530</a></p>
      </div>
    </div>
</footer>
