<div class="bg-slate-50 shadow-lg p-4 flex justify-center ">
  <div class="flex flex-col items-center justify-center w-full
              lg:flex-row lg:justify-between lg:w-4/5">
    <div class="my-2">
      <img class="h-14" src="../../../assets/LogoConectado.svg" width="300" height="63" alt="Colégio Conectado">
    </div>
    <div class="flex my-2 items-center">
      <a href="https://www.instagram.com/conectadomogi/" target="_blank">
        <img class="w-10 px-2" src="../../../assets/icons/instagram.svg" width="60" height="60" alt="Instagram | Colégio Conectado">
      </a>

      <a href="https://www.facebook.com/conectadomogi" target="_blank">
        <img class="w-10 px-2" src="../../../assets/icons/facebook.svg" width="60" height="60" alt="Facebook | Colégio Conectado">
      </a>

      <a href="https://www.youtube.com/playlist?list=PLbMcP6zrCSgc7b1i8p30trw5GNLxykVfs" target="_blank">
        <img class="w-10 px-2" src="../../../assets/icons/youtube.svg" width="60" height="60" alt="Youtube | Vídeocast Multiconectado">
      </a>

      <a href="https://open.spotify.com/show/6cqNVdSF9uAc5QrLY8AKv6" target="_blank">
        <img class="w-10 px-2" src="../../../assets/icons/spotify.svg" width="60" height="60" alt="Spotify | Vídeocast Multiconectado">

      </a>

      <a href="https://podcasts.apple.com/us/podcast/multiconectado/id1697547954" target="_blank">
        <img class="w-10 px-2" src="../../../assets/icons/apple-podcasts.svg" width="60" height="60" alt="Apple Podcasts | Vídeocast Multiconectado">
      </a>

      <a href="https://podcasts.google.com/feed/aHR0cHM6Ly9hbmNob3IuZm0vcy9jYWQyNjk4MC9wb2RjYXN0L3Jzcw" target="_blank">
        <img class="w-10 px-2" src="../../../assets/icons/google-podcasts.svg" width="60" height="60" alt="Google Podcasts | Vídeocast Multiconectado">
      </a>

      <a href="https://wa.me/551938049530?text=Olá, gostaria de informações sobre o Colégio Conectado" target="_blank">
        <img class="w-10 px-2" src="../../../assets/icons/whatsapp.svg" width="60" height="60" alt="Whatsapp | Colégio Conectado">
      </a>
    </div>
  </div>
</div>
